
<h2 class="text-center">About Us</h2>
<hr>
<div class="color-line center"></div>
<p class="about">
    Eaterator was the creation on Maryna Salii, Alex Rudavka, and Lucas Currah as part of the
    capstone project for the 2017 CAD class. The idea behind it was to allow for people to
    search for recipes based on what they had in their kitchen to make cooking more interesting.
    <br>
    <br>
    <span>
        Have input or want to learn more? We would love to hear from to. Please visit the
        <a ui-sref="contact">Contact Page</a> for more information.
    </span>
</p>
