<h2 class="text-center">Contact Us</h2>
<hr>
<div class="color-line center"></div>
<div style="width: 75%; margin: 0 auto">
    <p class="contact">
        Something not right? Want to find out more? Have some input on new feature?<br>
        We would be interested in hearing from you. Please fill out the form below and we will
        do our best to get back to you in a timely manner.
    </p>

    <div class="container contact-form panel-body">
          <div class="row">
              <form id="contact-form" class="form-horizontal col-md-6 col-sm-8" role="form">

                   <div class="form-group">
                         <label for="password" class="col-md-3 control-label">Name</label>
                         <div class="col-md-9">
                             <input type="text" class="form-control" name="name" placeholder="Name">
                         </div>
                     </div>

                     <div class="form-group">
                         <label for="password" class="col-md-3 control-label">Email Address</label>
                         <div class="col-md-9">
                             <input type="email" class="form-control" name="email" placeholder="Email Address">
                         </div>
                     </div>

                     <div class="form-group">
                          <label for="message" class="col-md-3 control-label">Message</label>
                          <div class="col-md-9">
                            <textarea class="form-control" rows="5" id="message" placeholder="Message"></textarea>
                          </div>
                    </div>

                     <div style="margin-top:10px" class="form-group">
                         <!-- Button -->
                         <div class="col-md-9 controls">
                           <a id="btn-send" href="#" class="btn btn-success">Send</a>
                         </div>
                     </div>
                 </form>
              </div>
        </div>
</div>