
       <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
	        <div class="row">
 	  
	            <div class="col-md-3">
		          <div class="logo">
		            <a href="#">
<!--		                <img src="../static/images/eaterator-icon.png" alt="">-->
		            </a>
		          </div>
		        </div>
		
		        <div class="col-md-9">
                    <div id="menu">
                          <button id="open-trigger">Open Menu</button>
                            <ul id="inner-menu">
                              <li id="current"><a href="#">Home</a></li>
                              <li><a href="#">About Us</a></li>
                              <li><a href="#">Team</a></li>
                              <li><a href="#">Contact</a></li>
                              <li><a href="#" onclick='window.open("https://www.facebook.com", "Facebook", "width=300", "height=250"); return false;'>Login</a>
                              </li>
                            </ul>
                    </div><!-- end #menu --> 
		        </div>
		        
	  </div><!-- end .row-->
	</div><!-- end .container-->
    </nav> <!-- end nav-->