/* CSS for charts */
.dashboard-wrapper {
    position: relative;
    width: calc(100% - 250px + 40px);
    align-content: center;
    height: 100%;
    margin: 0 -20px;
}

.dashboard-wrapper h1 {
    margin: 0 auto;
    text-align: center;
    color: steelblue;
    margin-bottom: 25px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 3em;
}

.chart h1 {
    font-wight: normal;
    font-size: 1.5em;
}

.user-search-container {
    position: relative;
    width: 100%;
    height: auto;
    height: 100%;
    overflow: auto;
    padding: 10px;
    border: 20px solid #9DC209;
    margin: auto;
}

body {
    border: 20px solid #9DC209;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    overflow: auto;
}

.admin-chart {
    margin: 0 auto;
    overflow: auto;
    min-width: 500px;
    width: 80%;
    height: auto;
    padding: 25px;
    border: 3px solid black;
}

.chart {
    background-color: #e6ffb3; /*lightgreen*/
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: -1;
}

.right-col {
    position: relative;
    width: 50%;
    border-sizing: border-box;
    float: right;
}

.left-col {
    position: relative;
    width: 50%;
    border-sizing: border-box;
    float: left;
}

@media (max-width:1200px) {
    .left-col, .right-col {
        position: relative;
        width: 100%;
        border-sizing: border-box;
        display: inline-block;
    }


}

footer {
    display: none !important;
}

/* end of css for chart div */

/* CSS for D# graphs/SVG */
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.area {
    fill: lightblue;
}

.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1
    shape-rendering: crispEdges;
}
/* End of CSS for graphs/D3 */

/* CSS for admin nav menu */
.sub-list {
    margin-left: 25px;
}
/* removes normal site bar for admin menu */
.navbar {
   display: none !important;
}
#wrapper {
 padding-right: 250px;
 transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
 margin-right: -250px;
 right: 250px;
 top: 0px;
 width: 250px;
 background: #000;
 position: fixed;
 height: 100%;
 overflow-y: auto;
 z-index: 2000;
 transition: all 0.4s ease 0s;
}

#wrapper.active {
 padding-right: 0;
}

#wrapper.active #sidebar-wrapper {
 right: 0;
}

#page-content-wrapper {
 width: 100%;
}



.sidebar-nav {
 position: absolute;
 top: 0;
 width: 250px;
 list-style: none;
 margin: 0;
 padding: 0;
}

.sidebar-nav li {
 line-height: 40px;
 text-indent: 20px;
}

.sidebar-nav li a {
 color: #999999;
 display: block;
 text-decoration: none;
 padding-right: 60px;
}

.sidebar-nav li a span:before {
 position: absolute;
 right: 0;
 color: #41484c;
 text-align: center;
 width: 20px;
 line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
 color: #fff;
 background: rgba(255,255,255,0.2);
 text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
 text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
 height: 65px;
 line-height: 60px;
 font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
 color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
 color: #fff;
 background: none;
}



.content-header {
 height: 65px;
 line-height: 65px;
}

.content-header h1 {
 margin: 0;
 margin-right: 20px;
 line-height: 65px;
 display: inline-block;
}

#menu-toggle {

}

.btn-menu {
 color: #000;
}

.inset {
 padding: 20px;
}

/*
@media (max-width:767px) {

   #wrapper {
     padding-right: 0;
   }

   #sidebar-wrapper {
     right: 0;
   }

   #wrapper.active {
     position: relative;
     right: 250px;
   }

   #wrapper.active #sidebar-wrapper {
     right: 250px;
     width: 250px;
     transition: all 0.4s ease 0s;
   }

   #menu-toggle {
     display: inline-block;
   }

   .inset {
     padding: 15px;
   }
*/
}