<!-- Sidebar -->
    <div id="sidebar-wrapper" class="">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand active"> <a ui-sref="admin" class=""><span class="fa fa-home solo">Admin</span></a>

                </li>
                <li class=""> <a ui-sref="admin" ui-sref-opts="{reload:true}" data-scroll="" class="">
                            <span class="fa fa-anchor solo">User Data</span>
                        </a>

                </li>
                <li class=""> <a ui-sref="admin-nginx" ui-sref-opts="{reload:true}" data-scroll="" class="">
                            <span class="fa fa-anchor solo">Request Logs (NGINX)</span>
                        </a>

                </li>
                <li class=""> <a ui-sref="admin-uwsgi" ui-sref-opts="{reload:true}" data-scroll="" class="">
                            <span class="fa fa-anchor solo">API Logs (uWSGI)</span>
                        </a>

                </li>
            </ul>
        </nav>
    </div>
    <style>
        #wrapper {
          padding-right: 250px;
          transition: all 0.4s ease 0s;
        }

        #sidebar-wrapper {
          margin-right: -250px;
          right: 250px;
          top: 100px;
          width: 250px;
          background: #000;
          position: fixed;
          height: 100%;
          overflow-y: auto;
          z-index: 1000;
          transition: all 0.4s ease 0s;
        }

        #wrapper.active {
          padding-right: 0;
        }

        #wrapper.active #sidebar-wrapper {
          right: 0;
        }

        #page-content-wrapper {
          width: 100%;
        }



        .sidebar-nav {
          position: absolute;
          top: 0;
          width: 250px;
          list-style: none;
          margin: 0;
          padding: 0;
        }

        .sidebar-nav li {
          line-height: 40px;
          text-indent: 20px;
        }

        .sidebar-nav li a {
          color: #999999;
          display: block;
          text-decoration: none;
          padding-right: 60px;
        }

        .sidebar-nav li a span:before {
          position: absolute;
          right: 0;
          color: #41484c;
          text-align: center;
          width: 20px;
          line-height: 18px;
        }

        .sidebar-nav li a:hover,
        .sidebar-nav li.active {
          color: #fff;
          background: rgba(255,255,255,0.2);
          text-decoration: none;
        }

        .sidebar-nav li a:active,
        .sidebar-nav li a:focus {
          text-decoration: none;
        }

        .sidebar-nav > .sidebar-brand {
          height: 65px;
          line-height: 60px;
          font-size: 18px;
        }

        .sidebar-nav > .sidebar-brand a {
          color: #999999;
        }

        .sidebar-nav > .sidebar-brand a:hover {
          color: #fff;
          background: none;
        }



        .content-header {
          height: 65px;
          line-height: 65px;
        }

        .content-header h1 {
          margin: 0;
          margin-right: 20px;
          line-height: 65px;
          display: inline-block;
        }

        #menu-toggle {

        }

        .btn-menu {
          color: #000;
        }

        .inset {
          padding: 20px;
        }

        @media (max-width:767px) {

            #wrapper {
              padding-right: 0;
            }

            #sidebar-wrapper {
              right: 0;
            }

            #wrapper.active {
              position: relative;
              right: 250px;
            }

            #wrapper.active #sidebar-wrapper {
              right: 250px;
              width: 250px;
              transition: all 0.4s ease 0s;
            }

            #menu-toggle {
              display: inline-block;
            }

            .inset {
              padding: 15px;
            }

        }
    </style>