.bootstrap-overrides .center{
     float: none;
     margin-left: auto;
     margin-right: auto;
}
.bootstrap-overrides nav {
	background: #9DC209 !important;
    position: relative;
    margin: 0;
    border: 0;
}
.bootstrap-overrides nav .toggle-btn{
	background-color: #fff;
}
.bootstrap-overrides nav .logo img {
	width: 50px;
    height: 50px;
    margin-top: 5px;
}
.bootstrap-overrides nav .logo img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: all 0.4s ease-out 0s;
}
.bootstrap-overrides #menu { 
    float: right; 
}
.bootstrap-overrides #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.bootstrap-overrides #menu ul li {
    position: relative;
    float: left;
}
.bootstrap-overrides #menu ul li a {
    display: block;
    padding: 20px 22px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    transition: all 0.2s ease-out 0s;
	border-bottom: 2px solid transparent;
}
.bootstrap-overrides #menu li a:before {
    display: block;
    margin: 0;
	color: #666;
    text-transform: none;
    font-weight: 300;
    font-size: 11px;
    font-family: open sans;
    line-height: 0;
}
.bootstrap-overrides #menu li a:hover {
	background-color: #252f38;
}

.bootstrap-overrides #open-trigger {
	display: none;
}
.bootstrap-overrides .carousel-inner img {
    width: 100%;
    height: 570px;
}
.bootstrap-overrides .carousel-control {
    background-image: none;
}
.bootstrap-overrides .carousel-inner .carousel-caption {
	top: 70px;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
.bootstrap-overrides .carousel-inner .carousel-caption h1{
    font-size: 80px;
}
.bootstrap-overrides .carousel-inner .carousel-caption .btn-default{
    background-color: #9DC209;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    background-image: none;
    border: none;
}
.bootstrap-overrides .carousel-inner .carousel-caption .btn-default:hover{
    color: #252f38;
}
/*buzz-out button hover effect*/
@-webkit-keyframes out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.out:hover, .out:focus, .out:active {
  -webkit-animation-name: out;
  animation-name: out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/*end of btn hover*/
.bootstrap-overrides .carousel-indicators li{
    background-color: #5f5f5f;
}
.bootstrap-overrides .carousel-indicators li.active{
    background-color: #252f38;
}
.bootstrap-overrides .carousel-control span {
	background-color: #252f38;
    border-radius: 50%;
    width: 40px;
    height: 40px;
/*    padding: 10px;*/
}
.bootstrap-overrides .glyphicon-chevron-right:before {
    position: relative;
    top: 3px;
}
.bootstrap-overrides .glyphicon-chevron-left:before {
    position: relative;
    top: 3px;
}
/*main*/
.bootstrap-overrides main{
	padding-top: 50px;
}
.bootstrap-overrides main h2{
	font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}
.bootstrap-overrides main .color-line{
	background-color: #9DC209;
    width: 70px;
    height: 3px;
    margin-top: -2px;
}
.bootstrap-overrides main hr{
    margin-bottom: 0;
}
/*search form*/
.bootstrap-overrides #custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 15px;
}

.bootstrap-overrides #custom-search-input input{
    border: 0;
    box-shadow: none;
}

.bootstrap-overrides #custom-search-input button{
    margin: 7px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

.bootstrap-overrides #custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

.bootstrap-overrides #custom-search-input .glyphicon-search{
    font-size: 23px;
}

/*footer*/
.bootstrap-overrides footer {
	background-color: #000;
    padding: 30px 0 40px 0;
/*    height: 200px;*/
    width: 100%;
}
.bootstrap-overrides footer p{
    color: #e6e6e6;
}
.bootstrap-overrides footer .copyright{
    color: #ccc;
}
.bootstrap-overrides h3{
    color: #9DC209;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}
.bootstrap-overrides footer a span{
	background-color: #9DC209;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #9DC209;
}
.bootstrap-overrides footer a span:hover{
    background-color: #252f38;
}
.bootstrap-overrides footer .btn-lg {
    padding-left: 0;
}
.bootstrap-overrides .bootstrap-tagsinput{
	background-color: none !important;
    box-shadow: none !important;
    border: none !important;
/*    overflow-y: scroll;*/
/*    height: 30px;*/
    width: 100%;
}
.bootstrap-overrides main .label{
	padding: 8px 20px;
}
.bootstrap-overrides main .label-info{
	background-color: #252f38;
}
.bootstrap-overrides .bootstrap-tagsinput .tag{
	font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 3px;
}
.bootstrap-overrides .sample-products-list{
    margin-bottom: 100px;
}
.bootstrap-overrides .sample-products-list span{
    border-bottom: 1px dashed #000;
    cursor: pointer;
    margin-right: 7px;
    
}
.bootstrap-overrides main{
	 min-height: calc(100vh - 70px); 
}
.bootstrap-overrides header .line-heading{
	background-color: #252f38;
    width: 100%;
    height: 160px;
}
.bootstrap-overrides header .line-heading p{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 70px;
    line-height: 160px;
    font-weight: 600;
}
.bootstrap-overrides main .recipe-list{
    padding-bottom: 100px; 
    position: relative;
}
.bootstrap-overrides main .recipe-list .recipe-snippet{
/*    text-align: center;*/
    text-transform: capitalize;    
    margin-bottom: 30px;
    height: 510px;
    text-align:center;
/*    vertical-align:top;*/
/*    display: inline-block;*/
}
.bootstrap-overrides main .recipe-list .recipe-snippet a{
    text-decoration: none;
}
.bootstrap-overrides main h3{
    color: black;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    margin-bottom: 0;
}
.bootstrap-overrides main .recipe-snippet img{
	width: 350px;
    height: 350px;
    padding-bottom: 5px;
    cursor: pointer;
}
.bootstrap-overrides .recipe-list .in{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.bootstrap-overrides .recipe-list .in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.bootstrap-overrides .recipe-list .in:hover,.bootstrap-overrides .recipe-list .in:focus,.bootstrap-overrides .recipe-list .in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.bootstrap-overrides main .recipe-rating {
	color: #9DC209;
}
/*rating*/

div.stars {
  width: 270px;
  display: block;
  margin: 0 auto;
  height: 75px;
}

div.stars:after{
  content:'';
  height: 0;
  clear: both;
}
input.star { display: none; }

label.star {
    float: right;
    padding: 10px;
    font-size: 34px;
    color: #444;
    transition: all .2s;
}

label.star:before {
    content: "\f005";
    font-family: FontAwesome;
    color: #252f38;
}
.filled-star:before {
    color: #FD4 !important;
    content: "\f005" !important;
    font-family: FontAwesome;
}
.bootstrap-overrides main .recipe-rating{
	display: none;
}
.bootstrap-overrides .ingredient-list{
	text-transform: capitalize;
}
.bootstrap-overrides .recipe-detail{
    margin: 10px 0;
    line-height: 3px;
    height: 7px;
}
.bootstrap-overrides .recipe-detail br{
    display: block;
    margin: 5px 0;
}
.bootstrap-overrides .recipe-detail .ingredient-description{
	text-transform: lowercase;
}
.bootstrap-overrides .recipe{
	height: 800px;
}
.bootstrap-overrides .activee{
	height: inherit !important;
    position: absolute !important;
    z-index: 1000;
    background-color: #fff;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 50%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 4px;
    padding: 20px 0;
}
.bootstrap-overrides .activee img{
    width: 450px !important;
    height: 450px !important;
    pointer-events:none;
}

.bootstrap-overrides .ingredient-caption{
	margin: 0 !important;
    padding-top: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.bootstrap-overrides .login-wrapper .row{
	padding-bottom: 60px;
    margin-top: 20px;
}

.bootstrap-overrides .login-form{
    text-align: center;	
}

.bootstrap-overrides .login-form h3{
    padding-bottom: 40px;
}
 
.bootstrap-overrides .register-form{
	margin-top: 30px;
}

.bootstrap-overrides .register-form .form-group{
	 padding-top: 30px;
}

.bootstrap-overrides .register-form .register-buttons{
	padding-top: 40px;
}

.bootstrap-overrides .register-form .register-buttons .btn-cancel{
    background-color: #666;
    color: #fff;
}


/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2016 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */

.login-form .btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.login-form .btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.login-form .btn-social .btn-lg{padding-left:61px}
.login-form .btn-social .btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.login-form .btn-social.btn-sm{padding-left:38px}
.login-form .btn-social .btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.login-form .btn-social.btn-xs{padding-left:30px}
.login-form .btn-social .btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.login-form .btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}
.login-form .btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.login-form .btn-social-icon .btn-lg{padding-left:61px}
.login-form .btn-social-icon .btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.login-form .btn-social-icon .btn-sm{padding-left:38px}
.login-form .btn-social-icon .btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.login-form .btn-social-icon .btn-xs{padding-left:30px}
.login-form .btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.login-form .btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}
.login-form .btn-social-icon .btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.login-form .btn-social-icon .btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.login-form .btn-social-icon .btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}

.bootstrap-overrides .login-form .btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2);margin: 0 auto}
.bootstrap-overrides .login-form .btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.bootstrap-overrides .login-form .btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.bootstrap-overrides .login-form .btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.login-form .btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.login-form .btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.login-form .btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}


.bootstrap-overrides .about{
	padding: 25px;
}
.bootstrap-overrides .about a{
    color: #666;
}
.bootstrap-overrides .contact{
	padding: 25px;
}
.bootstrap-overrides .contact-form{
    padding-bottom: 100px;
}
.bootstrap-overrides .contact-form .control-label{
    text-align: left;
}
.bootstrap-overrides .contact-form #message{
/*	max-width: 70%;*/
/*    margin-left: 30%;*/
}
.bootstrap-overrides .tags, .bootstrap-overrides .host{
	border: none;
    box-shadow: none;
    height: inherit;
    margin-top: 0;
}

.bootstrap-overrides .tags-input{
    border: none;
    width: 92%;
    box-shadow: none;
}

.bootstrap-overrides .input-lg{
	height: 100%;
}

.bootstrap-overrides .btn-search{
	border: none !important;
    float: right;
}

.bootstrap-overrides .tags-input .tags .tag-item{
    background: none;
    background-color: #252f38;
}

.bootstrap-overrides .user-searches{
	margin-bottom: 20px;
}

.bootstrap-overrides .fav-list{
	text-decoration: none;
    list-style: none;
    margin-top: 20px;
}

.bootstrap-overrides .original-site{
    text-decoration: none;
    color: #9DC209;
    text-transform: uppercase;
    text-align: left;
    padding-top: 10px;
}

.bootstrap-overrides  .ingredient-description{
	text-align: left;
}


@media (max-width: 768px){
    .bootstrap-overrides #menu ul li{
	    width: 100%;
    }
    .bootstrap-overrides .carousel-inner img{
	    height: 100%;
    }
    .bootstrap-overrides .carousel-inner .carousel-caption{
        font-size: 16px;
    }
    .bootstrap-overrides .carousel-inner .carousel-caption h1{
        font-size: inherit;
    }
    .bootstrap-overrides #social{
	    display: none;
    }
    .bootstrap-overrides .input-group{
        width: 100%;
    }
    .bootstrap-overrides .glyphicon-search{
/*	    top: -20px;*/
    }
    .bootstrap-overrides .tags-input{
	    width: 85%;
    }
    .bootstrap-overrides .glyphicon-chevron-left:before,
    .bootstrap-overrides .glyphicon-chevron-right:before{
	    top: 9px;
    }
    .bootstrap-overrides .carousel-indicators{
	    display: none;
    }
}